<footer style="background: grey;" class="page-footer font-small blue pt-5 pb-5 mt-5">
  <div class="footer-copyright text-center py-3">© 2022 Copyright:
    <a href=""> Bugzilla Test Project</a>
  </div>
</footer>
